/* General */

*{
	padding: 0;
	margin: 0;
}

html{
	font-size: 16px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
	display: flex;
	justify-content: center;

	background-color: rgb(228, 228, 228);
}

.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}




/* Typograhpy */

header{
	text-align: center;
	font-size: 2rem;
	color: white;
	font-weight: bold;
	text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.submit-button{
	color: black;
	text-align: center;
}

.clear-list-button{
	color: black;
	text-align: center;
}

.remove-task-button{
	color: black;
	text-align: center;
}

input[type=text]{
	font-size: 1rem;
}

::placeholder{
	color: rgba(0, 0, 0, 0.2);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}




/* Layout */

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
}

.menu-box{
	width: 100%;
	margin-top: 1em;
	border-radius: 1rem;

	background-color: white;
	box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.1);
}

header{
	padding: 1.5rem;
	border-radius: 1rem 1rem 0 0;
	background: rgb(158,238,255);
	background: linear-gradient(45deg, rgba(158,238,255,1) 0%, rgba(240,255,113,1) 74%, rgba(255,138,226,1) 100%); 
}

form{	
	display: flex;
	justify-content: space-around;
	padding: 2rem;
	border-radius: 0 0 1rem 1rem;
}

input[type=text]{
	width: 70%;
	border: 0;
	border-bottom: 0.15rem solid rgba(0, 0, 0, 0.1);
	padding: 0.3rem;
	margin-right: 2rem;
	transition: 0.2s;
}

input[type=text]:focus{
	border-color: rgba(0, 0, 0, 0.9);
	outline: none;
}

input[type=checkbox]{
	-webkit-appearance: none;
	background-color: none;
	width: 1.4rem;
	height: 1.4rem;
	border: 0.15rem solid rgba(0, 0, 0, 0.1);
	border-radius: 0.2rem;
	background-color: white;

	transition: 0.1s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type=checkbox]:after{
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f00c';
	color: rgba(0, 0, 0, 0.9);
	font-size: 0;
	transition: 0.2s cubic-bezier(.44,.02,.8,1.82);
}

input[type=checkbox]:hover{
	background-color: rgba(0, 0, 0, 0.05);
}

input[type=checkbox]:checked{
	background-size: 80%;
	border-color: rgba(0, 0, 0, 0.9);
}

input[type=checkbox]:checked:after{
	font-size: 0.7rem;
	transition: 0.2s cubic-bezier(.44,.02,.8,1.82);
}

.button-box{
	display: flex;
}

.submit-button{
	padding: 0.5rem;
	width: 6rem;
	border-radius: 0.5rem 0 0 0.5rem;
	border: 0.15rem solid rgba(0, 0, 0, 0.1);

	cursor: pointer;
}

.submit-button:hover{
	background-color: rgba(0, 0, 0, 0.05);
}

.submit-button:active{
	background-color: white;
	border: 0.15rem solid rgba(0, 0, 0, 0.9);
}

.clear-list-button{
	padding: 0.5rem;
	width: 6rem;
	border-radius: 0 0.5rem 0.5rem 0;
	border: 0.15rem solid rgba(0, 0, 0, 0.1);

	cursor: pointer;
}

.clear-list-button:hover{
	background-color: rgba(0, 0, 0, 0.05);
}

.clear-list-button:active{
	background-color: white;
	border: 0.15rem solid rgba(0, 0, 0, 0.9);
}

.todo-list-boxes{
	width: 100%;
	padding: 2rem;
}

.task-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2em;
	margin-top: 1em;
	box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.1);
	background-color: white;
}

.task-box p{
	width: 80%;
	margin-left: 2rem;
	margin-right: 2rem;
}

.task-box:first-child:last-child{
	border-radius: 1rem;
}

.task-box:first-child{
	border-radius: 1rem 1rem 0 0;
}

.task-box:last-child{
	border-radius: 0 0 1rem 1rem;
}

.remove-task-button{
	padding: 0.5rem;
	width: 11rem;
	height: 1.4rem;
	border-radius: 0.5rem;
	border: 0.15rem solid rgba(0, 0, 0, 0.1);

	cursor: pointer;
}

.remove-task-button:hover{
	background-color: rgba(0, 0, 0, 0.05);
}

.remove-task-button:active{
	background-color: white;
	border: 0.15rem solid rgba(0, 0, 0, 0.9);
}

@media (orientation: portrait) {
	.container{
		width: 95%;
	}

	form{
		flex-direction: column;
		align-items: center;
	}

	input[type=text]{
		width: 100%;
		margin: 0;
	}

	.button-box{
		margin-top: 1em;
	}
}